<div class="container-fluid p-0 m-0">
  <img src="assets/img/burger-picker2.gif" class="burger-headline" />
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 input-section">
      <form class="create-form">

  <div class="form-group">
    <label for="burger-name">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Hungry?</label>
    
    <input class="inputRadio" type="radio" name="eaten" value="1">Eat Now?
    
    <input class="inputRadio" type="radio" name="eaten" value="0"> Eat Later
  </div>

  <button type="submit">Add Burger</button>

</form>
    </div>
    <div class="col-md-12 text-center">
      <img class="divider" src="assets/img/divider.png" alt="">
    </div>

    {{#each burgers}} {{#if devoured}}
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/devoured.gif" class="card-img-top" />
        <div class="card-body">
          <p class="card-text">{{burger_name}}</p>

        </div>
      </div>
    </div>

    {{/if}} {{#unless devoured}}

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/burger-img1.gif" class="card-img-top" />
        <div class="card-body">
          <p class="card-text">{{burger_name}}</p>
          {{> burger-eats/burger-block }}
        </div>
      </div>

    </div>
    {{/unless}} {{/each}}
  </div>
</div>

{{!-- {{#each burgers}}
<div>
  <h2>{{burger_name}}</h2>
  {{> burger-eats/burger-block }}
</div>
{{/each}} --}}
