body {
    background-color: #ece3c6;
}


button {
    font-family: 'Kaushan Script', cursive;

}
h1,h2,h3,h4 {
    font-family: 'Luckiest Guy', cursive;
}
.burger-headline {
    min-width:100%;
    max-width:100%;
}
.card {
    background-color: transparent;
    border:none;
}